* {
    margin: 0;
    padding: 0;;
}

h1, h2, h3, h4, h5 {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: bisque;
}
.capa {
    background-color: #f1f1f1;
    /* height: 100vh; */
}

.abertura {
    color: #f1f1f1;
}

.abertura-superior {
    height: 70vh;
}

.abertura-inferior {
    height: 30vh;
    z-index: 99999;
}

.bg-cards {
    background-color: #f1f1f1;
}

.abertura-inferior h3 {
    position: absolute;
    bottom: 12vh;
}

.conteudo {
    position: fixed;
    /* align-items: baseline; */
    bottom: 0;
    margin-left: auto;
}

.accordion-button:not(.collapsed) {
    background-color: #767676 !important;
}


@media screen and (max-width: 768px) {
    .abertura-superior {
        height: 100vh;
    }
    /* .abertura-inferior {
        height: auto;
    } */
}

